@import "colors/colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  min-height: 0;}

window#waybar {
  background: transparent;
  color: @on_surface;
}

tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @on_surface;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727D;
  border-bottom: 3px solid white;
}

#clock,
#pulseaudio,
#network {
  padding: 5px 15px;
  margin: 2px;
  border-radius: 100px;
  background-color: @primary;
  color:@on_secondary;
}
